<%- include('head') %>
<link rel="stylesheet" href="/stylesheets/registerRestaurant.css">
<title>Formulario crear platos</title>
<%- include('navbar') %>

<main class="container-xxl s1-padding-y d-flex align-items-center justify-content-center">
  <section class="row section1 align-items-center text-center">
    <div class="col-12 col-xl-6 p-0">
      
      <img src="/images/dishes/<%= result[0].dishes_img  %>" alt="imagen del restaurante">
      
    </div>
    <div class="col-12 col-xl-6 p-0">
      <form 
        class="m-0"
        action="/dishes/editDishes/<%= result[0].dishes_id %>/<%= result[0].restaurant_id %>" 
        method="post"
        enctype="multipart/form-data">

        <label for="dishes_name"><p>Titulo del plato</p></label>
        <input 
        class="form-control"
        type="text"
        name="dishes_name"
        placeholder="Titulo del plato"
        value="<%= result[0].dishes_name %>"
        >
        
        <label for="name"><p>Descripción del plato</p></label>
        <input 
        class="form-control"
        type="text"
        name="dishes_description"
        placeholder="Descripción del plato"
        value="<%= result[0].dishes_description %>"
        >
        
        <label class="btn btn-dark pt-2 mt-4" for="file">SUBE UNA IMAGEN</label>
          <input
            class="form-control"
            id="file"
            type="file"
            name="img"
            style="display: none;">

        <h3><%= typeof message != 'undefined' ? message : null %></h3>
        <div>
        <button class="btn btn-dark pt-2">ACEPTAR</button>
        <a href="/restaurants/oneRestaurant/<%= result[0].restaurant_id %>"><button class="btn btn-dark pt-2" type="button">CANCELAR</button></a>
        <button class="btn btn-dark pt-2" type="reset">RESET</button>
      </div>
      
</main>

<%- include('footer') %>