<%- include('head') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<title>Home</title>
<%- include('navbar') %>

<main class="container-fluid p-0">
  <section class="row padding-y-section justify-content-center m-0 s6">
    <div class="col-12 p-0">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="7000">
        <div class="carousel-inner">
          <% for(let i = 0; i < result.length; i++) { %>
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
              
              <img class="redondo" src="/images/dishes/<%= result[i].dishes_img %>" class="d-block w-100" alt="profesores">
            </div>
          <% } %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <!-- section2 -->
  <section class="fondo p-0">
  <div class="section-welcome container-xxl">
      <div class="row padding-y-sec">
        <div class="col-12 col-md-6">
          <p>BIENVENIDO A</p>
          <img class="tam" src="/images/restaurant/GastroQuality.png" alt="">
          <hr />
          <p>
            Donde podrás encontrar los mejores platos de los restaurantes más selectos de España.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <p>
            Gastro Quality nació como una idea de un grupo de estudiantes de un bootcamp full stack development. La idea era poder dejar de estudiar en algún momento y comer algo, y en nuestro afán de encontrar saciedad a nuestro creciente apetito, se nos ocurrió la fantástica idea de recopilar los mejores platos de los restaurantes más selectos de España, para poder visitarlos todos y comer sus excelentes productos. <br> Contiamente estamos experimentando nuevos niveles de estress y tolerancia a la frustación que inevitablemente nos llevan a pasar más hambre que un caracol pegao a un espejo. Nuestra ambición sin límite nos lleva a explorar el mundo culinario con devoción y alarmante ansia, pero con la idea en mente de algún día volver a pisar la calle y lanzarnos en búsqueda de la aventura y cazar deliciosos platos.
          </p>
          <a href="#"><button class="btn btn-dark">READ MORE</button></a>
        </div>
      </div>
    </div>
  </section>

</main>

<%- include('footer') %>
